/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #333;
}

a {
  color: #065f46; /* A shade that should be adjusted based on your palette */
}

a:hover {
  color: #064e3b;
}

/* Custom styles for forms to match the professional Airbnb-like theme */
input, textarea, button {
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #FADB5F;
  box-shadow: 0 0 0 1px #FADB5F;
}

button:hover {
  transform: translateY(-2px);
}
